In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("titanic.csv")

In [3]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [6]:
df['sex'].value_counts()

male      577
female    314
Name: sex, dtype: int64

In [ ]:
sns.countplot(x='survived',data = df)

In [ ]:
sns.countplot(x='survived',hue='sex',data=df)

In [ ]:
df.isnull().any().sum()

In [ ]:
df.dropna(inplace=True)

In [ ]:
sex = pd.get_dummies(df['sex'],drop_first=True)
sex[:5]

In [ ]:
embark = pd.get_dummies(df['embarked'],drop_first=True)
embark[:5]

In [ ]:
cl = pd.get_dummies(df['pclass'],drop_first=True)
cl[:5]

In [ ]:
df = pd.concat([df,sex,embark,cl],axis=1)

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.drop(['pclass','sex','embarked','class','who','adult_male','deck','embark_town','alive','alone'],axis=1,inplace=True)

In [ ]:
df.head()

In [ ]:
X = df.drop(['survived'],axis=1)
y = df['survived']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=101)

In [ ]:
from sklearn.linear_model import LogisticRegression